@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
    url("Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-SemiBold.woff") format("woff"),
    url("Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: #f9f9f9;
}

.btn {
  border-radius: 5.952px;
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.087rem;
}

.nav-link {
  --bs-nav-link-font-size: 17px;
}

.navbar-nav {
  /* width: 24rem; */
  justify-content: space-around;
}

.btn-success {
  --bs-btn-bg: #75bf7a;
}

.navbar {
  padding-top: 4rem;
  padding-bottom: 2.4rem;
  background-color: #ffffff;
}

.nav-item {
  margin-right: 2.9rem;
}

.banner {
  margin-top: 3.3rem;
}

.banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 4.125rem;
  color: #000000;
}

.banner-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-top: 1.68rem;
  margin-bottom: 3.875rem;
  color: #9e9da2;
}

button {
  padding: 0.875rem 1.812rem;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
}

.banner-button {
  padding: 0.625rem 2.562rem;
}

.banner-button img {
  margin-right: 0.625rem;
}

.banner-phone {
  padding: 3.437rem 4.437rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 5.375rem;
  margin-bottom: 8rem;
  border-radius: 0.625rem;
  background-color: #75bf7a;
}

.banner-phone-title {
  width: 15.375rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #ffffff;
}

.banner-phone-form {
  gap: 0.687rem;
}

input {
  width: 31.187rem;
  padding-left: 2.187rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #000000;
}

input::placeholder {
  color: #dadada;
}

@media screen and (max-width: 764px) {
  .banner-text {
    margin-top: 1.937rem;
  }

  .banner-title {
    font-size: 2.125rem;
    line-height: 2.375rem;
  }

  .banner-subtitle {
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.375rem;
  }

  button {
    padding: 1.125rem 2.562rem;
    font-size: 0.875rem;
  }

  .banner-button {
    padding: 0.375rem 1.25rem;
  }

  .banner-button img {
    width: 23px;
    height: 23px;
    margin-right: 0.375rem;
  }

  .banner-phone {
    padding: 1.375rem 1.875rem;
  }

  .banner-phone-wrapper {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 17.5rem;
    height: 3rem;
    margin-top: 1.562rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }
}
